* {
    font-family: "Roboto-Regular", Tahoma;
    background-color: #1F2937;
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
    align-items: center;
}

.logo {
    font-size: 24px; 
    flex-grow: 1;
}

.container {
    display: flex;
    color: #F9FAF8;
    align-items: center;
    padding-top: 50px;
}

.texts {
    
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 36px;
    border-radius: 12px;
    border: 0;
}

img {
    width: 100%;
}